<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2 class="text-center m-5">Официант {{waiter.name}}</h2>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-6 border-end">
      <h3>Смена</h3>
      <div class="row" *ngIf="!waiter.inShift">
        <div class="col" >
          <button type="submit" mat-raised-button color="primary" class="text-center" (click)="onStart()" >Начать смену</button>
        </div>
      </div>
      <div class="row" *ngIf="waiter.inShift">
        <div class="col">
         <p >Смена открыта  </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p *ngIf="waiter.inShift">{{waiter.isAvailable? 'Свободен': 'Занят' }}</p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col">
          <button type="submit" mat-raised-button color="primary" class="text-center" [disabled]="(waiter.openOrders ?? 0) > 0" *ngIf="waiter.inShift" (click)="onClose()">Закрыть смену</button>
          <p *ngIf="(waiter.openOrders ?? 0) > 0">Невозможно закрыть смену при наличии открытых заказов</p>
        </div>
      </div>
    </div>
    <div class="col-6 text-start">
      <h3>Статистика</h3>
      <div class="row">
        <div class="col">
          <p>Выполнено заказов: {{total.ordersQuantity}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Получено выручки по всем заказам: {{total.ordersRevenue}}</p>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="row text-center">
    <div class="col">
      <h3>Обслуживаемые столики</h3>
      <mat-nav-list >
        <button mat-list-item *ngFor="let table of tables">
          <span matListItemTitle>
            Столик №{{table.number}}
          </span>
          <span matListItemLine>
              {{ !table.isOccupied ? 'Свободен' : 'Занят' }}
          </span>
        </button>
        <hr />
        <button mat-list-item routerLink="/tables">
          <span matListItemTitle>
            Переназначить столики
          </span>
        </button>
      </mat-nav-list>
    </div>
  </div>
</div>
