<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Меню</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/statistic">Статистика</a>
      <a mat-list-item routerLink="/orders">Заказы</a>
      <a mat-list-item routerLink="/waiters">Официанты</a>
      <a mat-list-item routerLink="/tables">Столики</a>
      <a mat-list-item routerLink="/dishes">Меню блюд</a>
    </mat-nav-list>
    <hr/>
    <mat-nav-list>
      <button mat-list-item (click)="autoModeHandler()" >Авто: {{autoMode ? "Вкл" : "Выкл"}}</button>
      <p>При включенном режиме Авто, заказы будут создаваться и закрываться автоматически при переходе на вкладку 'Новый заказ'</p>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>кафе “МоГила”</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
